<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHo3yKI7Xi0pWj4N_Smm-1qhK3IvNPoa4</string>
	<key>GCM_SENDER_ID</key>
	<string>169718207742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zbw</string>
	<key>PROJECT_ID</key>
	<string>zbwa-272f7</string>
	<key>STORAGE_BUCKET</key>
	<string>zbwa-272f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169718207742:ios:2bcd043e24fa8de7b001af</string>
</dict>
</plist>